@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=PT+Serif&family=Patua+One&family=Source+Code+Pro:wght@500&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: 0;

    
}
body{
            background: url("/1651163918539.jpg")
   ;
     height: 100vh;

   width:100%;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 9999;
   
}
.back{
        z-index: 999;
}

#click {
  display: none;
  position:sticky;
  top:0;
}

/*.kp{
        background-image: url("/IMG_20220427_144948.jpg");

/*-------Media Query-----*/

@media(max-width: 480px) {

 .bodyinpc {
         display: none;
 }
/*_____________next about section______________*/
    @media(min-width:481px){
     .menu-btn{
         display:none;   
        }
    }
.logo{
    
  font-size: 27px;
  color:#FFFFFF;
  font-weight: bold;
  margin-left:30px;
  
  
  }
nav ul {
position: fixed;
    top: 30px;
    left: -100%;
background:#000000;
    height: 100vh;
    width: 80%;
    display: block;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    
  }
  nav {
  height: 50px;
  width: 100%;
  border: solid #000000;
  background: black;
  display: flex;
  align-items: center;
  z-index:9999;
  justify-content: space-between;
 font-family: 'PT Serif', serif;
 letter-spacing:2px;
position:fixed;
top:0px;
 
    }

  /*    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
*/

  #click:checked~ul {
    left: 00%;
    position: fixed
  
  }

  nav ul li {
    margin: 60px 0;font-size: 25px;
    color: #FFFFFF;
    font-weight: 20px;
    
    text-decoration: none;
    word-spacing: 0px;
    margin-left: 20px;
    
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #53DEFF;
    /*   display: block;   */
  }

  .active,
  nav ul li a:hover {
    background: none;
    color: #00CEFF;
  }

  nav .menu-btn {
    display: block;
    position: sticky;
    top:0!important;
  width: 50px;
  height: 50px;

  cursor: pointer;
  font-size: 6px;
  font-weight: bold;
  text-align: center;

  background:#000000;
  color: white;

  margin-top: 5px;

}
.developer{
        white-space: nowrap;
        overflow: hidden;
        border-right:solid 4px#22FF47F2;
        animation: 5s hy infinite steps(22);
       width: 23ch;
     font-family: 'Special Elite', cursive;
     padding: 2px;
    
     position: relative;
     top:100px;
     font-size: 29px;
     color:#22FF47F2;
     text-align: center;
     margin-left: 30px;
   
}

  }
  

@keyframes hy{
        
     0%{
             width: 0ch;
     }   
       100%{
             width: 22ch;
    
}
}
.fa-facebook{
        color:#2C74FF;
        font-size: 35px;
        text-decoration: none;
        margin: 15px;
}
.fa-facebook:hover{
    transform: rotateZ(360deg);
    transition: ease-in-out 0.5s;
}

.fa-envelope{
        color:#FF0606;
        font-size: 35px;
        text-decoration: none;
        margin: 15px;
}
.fa-envelope:hover{
    transform: rotateZ(360deg);
    transition: ease-in-out 0.5s ;
   
}
.fa-whatsapp{
        color:#06FF2A;
        font-size: 35px;
        text-decoration: none;
        margin: 15px;
}
.fa-whatsapp:hover {
        transform: rotateZ(360deg);
        transition: ease-in-out 0.3s;
}
.fa-youtube-play{
        color:#FF2C2C;
      
        font-size: 35px;
        text-decoration: none;
        margin: 15px;
       
       
}
.fa-youtube-play:hover {
        transform: rotateZ(360deg);
        transition: ease-in-out 0.5s;
}
.fa-instagram{
        
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: texk;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
  
        font-size: 35px;
        text-decoration: none;
        margin: 15px;
}
.fa-instagram:hover {
        transform: rotateZ(360deg);
        transition: ease-in-out 0.5s;
}
div.socialhandels{
        position:relative;
        top: 71%;
        margin: 20px;
          

       
}
#loading{
 background: black url("/ezgif-5-03a96c5459.gif")
        no-repeat center;
        height:100vh;
        width: 100%;
        position:fixed;
        z-index:0;
        
}
.about h2{
        position:relative;
        bottom:-480px;
        color: #FF0606;
        font-size: 35px;
        background: #FFFFFF;
        width: 60%;
        margin-left: 90px;
        border-radius: 2px;
        font-family: 'Macondo', cursive;
        
        
}
.hr1{
        position: relative;
        top:535px;
        margin-left: 10px;
        margin-right: 10px;
        width:auto;
        border-radius: 20px;
}
.photo{
        height: 200px;
        position:relative;
        top:580px;
        width:200px;
        left: 90px;
        box-align: center;
        border-radius: 50%;
           background-attachment:fixed;
           margin: 20px;
           border:5px solid#BCBCBC;

      
        
}
.kp{
        color:#FF0000;
}
.ending{
        background:#FF0000;
}










@media(max-width:430px){
   div.socialhandels{
           top:75%;
   }
       
.bodyinpc{
         display: none;
 }
        

}
/*_____________________________________________*/
@media(max-width: 375px) {
.bodyinpc{
         display: none;
 }
        .developer{
                left: 1px;
               
                font-size: 25px;
       }
        hr.hr1{
                position: realtive;
                top: 450px;
                width:auto;
        }
        .about h2{
                bottom: -400px;
}
.socialhandels{
        top:75%;
}
.howiknow{
    position: relative;
       top:900px;
      
}
.photo{
        position: relative;
        left:55px;
        
        
}
.label1 h6{
        word-spacing: 170px;
}
.label2 h6{
        word-spacing: 200px;
}
.label3 h6{
        word-spacing: 100px;
        
}
.box1:hover{
        height: 100px;
        background: #00FDFF;
        width: 100px;
}




.address{
        top:700px;
}
.box1{
        height: 100px;
        width:100px;
}
}
/*_____________________________________________*/
.one{
        height: 8px;
        width: 70px;
        background: red;
        border-radius: 20px;
        position: relative;
        top:620px;
        right: 160px;
}
.two{
        height: 8px;
        width: 70px;
        background: #FF0101;
        border-radius: 20px;
        position: relative;
        top:-35px;
        left: 150px;
}
.para{
        position: relative;
       
        top:560px;
}
.para p{
        
        font-size: 25px;
       font-family: 'PT Serif', serif;
}
.div1{
        background: #ABABAB;
        height: 8px;
        width: 100%;
}
.div2{
        background: #FF2525;
        height: 8px;
        word-spacing:100px;
        font-size: 2px;
        font-weight: bolder;
        border-radius: 1px;
        color: #FFFFFF;
        width: 80%;
        
}
.howiknow{
        position: relative;
        top:550px;
        background:#000000;
        height: 750px;
        
}
::selection{
        color: #FF0505D6;
        
}
.howiknow h2{
        color:red;
        text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Ramaraja', serif;
    margin:0px;

        
}
label{
        
        font-size: 30px;
        font-weight: bolder;
        color:#fff;
}
.full{
        margin-left:20px;
        margin-right: 20px;
}
label h6{
        margin: 0;
}
.label1{
        word-spacing: 250px;
}
.label2{
        word-spacing: 250px;
}
.label3{
        word-spacing: 200px;
}
html{
        scroll-behavior:smooth;
}
#goup{
       
       text-decoration: none;
       position:sticky;
       top:200px;
       left: 95%;
       
       color:#FF0606;
        border-radius: 50px;
}
div.goups{
        position: sticky;
        top:200px;
        border-radius: 50px;
}
.myservices{
        position: relative;
        top:500px;
        height: 1500px;
        
        background: #000000;
        
        
}
.myservices h2{
           font-family: 'PT Serif', serif;
font-size: 35px;
color:#FF0000;

}
.about{
        color:#FFFFFF;
    padding-top: 50px;
        font-size:25px;
        font-family: 'PT serif',serif;
}
.box1{
        height: 300px;
        width: 300px;
        background: white;
        border-radius: 10px;
        position: relative;
        left: 60px;
      /* box-shadow: 0px 2px 50px 10px white;*/

        
}
.box1:hover{
        height: 320px;
        width:320px;
        background: yellow;
        transition: 0.5s ease-in;
        left: 40px;
               box-shadow: 0px 2px 50px 10px yellow;

}
.box2:hover{
        height: 320px;
        width:320px;
        background: yellow;
        transition: 0.5s ease-out;
                left: 40px;
                       box-shadow: 0px 2px 50px 10px yellow;


}
.box3:hover {
        height: 320px;
        width: 320px;
        background: yellow;
               box-shadow: 0px 2px 50px 10px yellow;

        
                left: 40px;


        transition: 0.5s ease-out;
}
.box2{
        height: 300px;
        width: 300px;
        background: white;
        border-radius: 10px;
        position: relative;
        left: 60px;
              /* box-shadow: 0px 2px 50px 10px white;*/

}
.box3{
        height: 300px;
        width: 300px;
        background: white;
        border-radius: 10px;
        position: relative;
        left: 60px;
               /*box-shadow: 0px 2px 50px 10px white;*/

}
.box1 h3{
        font-size: 30px;
        font-family: 'Crete Round', serif;
        margin-top: 100px;
        color:black;
}

.box1 p{
        font-size: 20px;
        color:black;
                font-family: 'Macondo', cursive;

}
.box2 p{
                font-size: 20px;
                color: black;
                font-family: 'Macondo', cursive;
}
.box3 p{
                font-size: 20px;
            
                color:black;
                font-family: 'Macondo', cursive;
}
.box2 h3{
                     font-size: 30px;
        font-family: 'Crete Round', serif;
        margin-top: 100px;
        color:black;
}
.box3 h3{
                       font-size: 30px;
        font-family: 'Crete Round', serif;
        margin-top: 100px;
        color: black;
        text-shadow: 0 0px 3px 2px #FF1B1B; 
             
}
.address{
      
     background: #FFf;
        width: 100%;
        position:relative;
        top:550px;
        height: 500px;
        
}
.text{
        font-size: 20px;
        color: #000000;
        position: relative;
        font-family:'Crete Round', serif;
        left: 60px;
        top:-30px;
        visibility: hidden;
}
.name{
        position: relative;
       
      right: -60px;
        top:-3px;
        height: 35px;
        width: 300px;
        border-radius: 5px;
       
                border: 2px solid#FF3636;
                
}
.name:hover{
        background: #ECECEC;
        
}
.names{
        position: relative;
        left: 15px;
visibility: hidden;

        height: 50px;
        width: 50px;
        top: 10px;
        
}
.explain{
        color:#000000;
        font-size: 16px;
        position: relative;
        left: 0px;
        bottom: 85px;
        visibility: hidden;
        
                font-family:'Crete Round', serif;

}
.description{
        position: relative;
        width:300px;
        left:60px;
        
        top:20px;
        border: 2px solid #FF0000;
        border-radius: 5px;
        
}
button{
        background: #FF007F;
        font-size: 20px;
        font-weight: bold;
        font-family: 'crete Round',serif;
        height: 40px;
        width: 200px;
        border-radius: 8px;
        border:1px solid#FF007F;
        position: relative;
        left: 120px;
        top: 50px;
        color: white;
        box-shadow:0 0 70px 0 #FF007F;
       
}
button:hover{
        background: #FF007FAD;
}
.copyright{
        background: #000;
       color:#FFFFFF;
        position: absolute;
        top:4500px;
}

/*-----------------popup----------------------*/
.popup{
        height:500px; 
        width: 340px;
        background: #FF5DD3D4;
        position: fixed;
        top:100px;
        left:40px;
        border-radius: 10px;
        visibility:hidden;
}
#message1{
        height: 100px;
        width:280px;
        margin-top: 10px;
}
#name1{
        height: 30px;
        width: 280px;
}
#number1{
        height: 30px;
        width: 280px;
}
#email1{
        height: 30px;
        width: 280px;
}
.svg1{
       
        margin-left: 10px;
        
}
.svg2{
        margin-left: 10px;
        
}
.svg3{
        margin-left: 10px;
}
.svg4 {
        margin-left: 10px;
        position:relative;
        top:2px;
}
.c{
     
        position: relative;
        top:0px;
        height: 60px;
        border-radius: 10px;
        
}
.popup h2{
        position: relative;
        top:0px;
       
}
.c h2{
        font-family: 'crete round',serif;
       position: relative;
       top:1px;
       font-weight: bolder;
}
.popup{
        background:url("/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
        border: 2px solid #000000;
        
}
.submit1{
        background:#00FF01;
        color: black;
        box-shadow: none;
        position: relative;
        left:70px;
        border: 1px solid black;
        
}        
.submit1:hover{
       
        background: #01CB44;
        transition:0.5sease-in-out;
        height: 42px;
        width:201px;
}
